body {
    font-family: Arial, sans-serif;
    margin : 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6347;
    padding: 15px 30px;
}

nav h1 { color: white; }
nav ul { display: flex; list-style: none; gap: 20px; }
nav ul li a { color: white; text-decoration: none; }

.middleSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section { padding: 50px 20px; text-align: center; }

#donate { background: #fce4ec; padding: 80px 20px; }
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.stat-icon {
    font-size: 40px;
    color: #ff6347;
    margin-bottom: 10px;
}

.step-icon {
    font-size: 35px;
    color: #28a745;
    margin-bottom: 10px;
}

.step {
    margin: 20px;
}


form { max-width: 400px; margin: auto; display: flex; flex-direction: column; }
input, textarea { padding: 10px; margin: 5px 0; }
button { padding: 10px; background: #ff6347; color: white; border: none; cursor: pointer; }

table { width: 90%; margin: auto; border-collapse: collapse; margin-bottom: 50px; }
th, td { padding: 10px; text-align: center; border: 1px solid #ccc; }

footer { background: #333; color: white; padding: 20px; }
