body {
    font-family:Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
    margin : 0;
    padding: 0;
}

/* top-bar */

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 0px 10px;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-solid.fa-utensils{
    border: 1px solid hsl(158 64% 32%);
    padding: 7px;
    border-radius: 10px;
    background-color: hsl(158 64% 32%);
    color: white;
}

nav .logo a{
    text-decoration: none;
}

.first{color: black;}
.second{ animation: colorFlow 2s ease-in-out infinite alternate;}
@keyframes colorFlow {
    0% {
        color: hsl(158 64% 32%);
    }
    100% {
        color: hsl(174 72% 40%);
    }
}

nav ul { display: flex; list-style: none; gap: 20px; }
nav ul li a {
  color: hsl(160 15% 45%);
  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 6px;
}

nav ul li a:hover {
  color: black;
  background-color: hsl(157 17% 73%);
}

nav ul li a.active {
  color: white;
  background-color: hsl(158 64% 32%);
}

/* used for top-bar, section-1 */
.sign-in{
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid grey;
    font-size: medium;
    border-radius: 6px;
}

/* used for top-bar, section-1 */
.sign-in:hover{
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: hsl(174 72% 40%);
    border: 0px;
    border-radius: 6px;
}

/* used for top-bar, section-1 */
.get-started{
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: hsl(158 64% 32%);
    border: 0px;
    border-radius: 6px;
    font-size: medium;
}

/* used for top-bar, section-1 */
.get-started:hover{
    padding: 8px 16px;
    text-decoration: none;
    background-color: hsl(158, 42%, 38%);
    border: 0px;
    border-radius: 6px;
}


/* section 1 index page */
.section-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  hsl(153, 39%, 95%);
    padding: 128px 16px;
    gap:25px;
}

.section-1 .quote{
    border-radius: 999px;
    display: inline-flex;
    padding: 8px 16px;
    margin:100px 0px 3px 24px;
    background-color: #1D86601A;
    color: hsl(158 64% 32%);
    align-items: center;
}

.section-1 h1{
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: smoothFade 1s ease-out forwards;
}

.section-1 h3{
    color: #628478;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: smoothFade 1.2s ease-out forwards;
}

.section-1 .buttons{
    display: flex;  
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: smoothFade 1.3s ease-out forwards;
}

.section-1 .proof{
    display: flex;
    margin: 20px 0px;
    gap: 50px;
    opacity: 0;
    transform: translateY(20px);
    animation: smoothFade 1.4s ease-out forwards;
}

.section-1 .proof p{
    color: #628478;
}

@keyframes smoothFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* section-2 */

.section-2 {
    display: flex;
    justify-content: space-around;
    background-color:  #E8EEE84c;
}

.section-2 div{
    text-align: center;
}

.section-2 h1{
    color: hsl(158 64% 32%);
    margin-bottom: 4px; 
}

.section-2 p,.section-3 p{
    color: #628478;
    margin-top: 0; 
}

/* section-3 */

.section-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  #f1f5f14c;
    padding: 128px 16px;
    gap:25px;
}

.section-3 .section-3-flexbox{
    display: flex;
    justify-content: space-around;
}

.section-3 .section-3-flexbox .section-3-flexbox-each{
    padding: 20px;
    border:1px solid black;
    border-radius: 10px;
    margin:29px;
    gap: 10px;
    box-shadow:  5px 5px rgba(0,0,0,0.1);
    background-color: white;
}

.section-3 .section-3-flexbox .section-3-flexbox-each i{
    margin-left: 15px;
    font-size: 30px;
    padding: 15px;
    transition: transform 0.3s ease;
    border-radius:15px ;
    animation: colorFlow-bg 2s ease-in-out infinite alternate;
}

.section-3-flexbox-each:hover i {
  transform: scale(1.1);
}

.fa-solid.fa-user, .fa-solid.fa-shield, .fa-solid.fa-arrow-trend-down{
    border: 1px solid hsl(158 64% 32%);
    padding: 7px;
    border-radius: 10px;
    background-color: hsl(158 64% 32%);
    color: white;
}


/* section-4 */
.section-4{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  #E8EEE84c;
    padding: 18px 16px;
    gap:25px;
}

.section-4 .top h3{
    color: #628478;
    margin-top: 0; 
    font-weight: normal;
}

.section-4 .circles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-4 .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    animation: colorFlow-bg 2s ease-in-out infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px rgba(0,0,0,0.1);
    z-index: 1;
}

@keyframes colorFlow-bg {
    0% {
        background-color: hsl(158 64% 32%);
    }
    100% {
        background-color: hsl(174 72% 40%);
    }
}

.section-4 .circles .line {
    flex-grow: 0.2 ;           
    height: 4px;     
    background-color: #cfcfcf; 
    margin: 0 10px;     
    z-index: 0;  
}

.section-4-flexbox{
    display: flex;
    margin: 0px 250px;
}

.section-4-flexbox-each{
    padding: 20px;
    margin:0px;
    text-align: center;
}

.section-4-flexbox-each h4{
    color: #628478;
    margin-top: 0; 
    font-weight: normal;
}

/* section-5 */

.section-5{
    animation: colorFlow-bg-s5 2s ease-in-out infinite alternate;
    margin:70px;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding:30px;
}

@keyframes colorFlow-bg-s5 {
    0% {
        background-color: hsl(158 64% 32%);
    }
    100% {
        background-color: hsl(174, 88%, 31%);
    }
}

.section-5 h3{
    font-weight:normal;
}

.section-5 .s5-btns{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap:200px;
}

.section-5 .s5-btns .rest{
    background-color: white;
    color: black;
    padding: 15px 25px;
    border-radius: 10px;
    font-size:medium;
    border: none;
}

.section-5 .s5-btns .rest:hover{
    background-color: #d5f1e7;
}

.section-5 .s5-btns .food{
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    font-size:medium;
    border: white;
    animation: colorFlow-bg-s5 2s ease-in-out infinite alternate;
    border:1px solid white;
}

.section-5 .s5-btns .food:hover{
    background-color: white;
    animation: none;
    color:hsl(158 64% 32%);
}

.section-5 i{
    margin-left: 10px;
}

/* footer */

.footer{
    background-color: hsl(160 30% 15%);
    color: white;
    padding: 40px 60px;
}

/* TOP SECTION */
.footer-top{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.logo{
    max-width: 420px;
}

.footer .logo .first,
.footer .logo .s{
    color: white;
}

.logo p{
    margin-top: 10px;
    line-height: 1.6;
    opacity: 0.9;
}

/* QUICK LINKS */
.qlinks ul{
    list-style: none;
    padding: 0;
}

.qlinks li{
    margin: 8px 0;
}

.qlinks a{
    text-decoration: none;
    color: rgb(228, 254, 236);
}

.qlinks a:hover{
    color: white;
}

/* BOTTOM SECTION */
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 60px;
    flex-wrap: wrap;
}

.involved a{
    display: block;
    margin: 6px 0;
    color: rgb(228, 254, 236);
    text-decoration: none;
}

.involved a:hover{
    color: white;
}

.contact i{
    margin-right: 8px;
}



/* 
.middleSec{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section { padding: 50px 20px; text-align: center; }

#donate { background: #fce4ec; padding: 80px 20px; }
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.stat-icon {
    font-size: 40px;
    color: #ff6347;
    margin-bottom: 10px;
}

.step-icon {
    font-size: 35px;
    color: #28a745;
    margin-bottom: 10px;
}

.step {
    margin: 20px;
}


form { max-width: 400px; margin: auto; display: flex; flex-direction: column; }
input, textarea { padding: 10px; margin: 5px 0; }
button { padding: 10px; background: #ff6347; color: white; border: none; cursor: pointer; }

table { width: 90%; margin: auto; border-collapse: collapse; margin-bottom: 50px; }
th, td { padding: 10px; text-align: center; border: 1px solid #ccc; }

footer { background: #333; color: white; padding: 20px; } */